<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="./../static/styles/index.css" />
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Manrope:wght@200..800&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="./../static/images/logo.svg" />
    <title>HarvestHop</title>
</head>
<body>
    <nav>
        <div class="nav-logo"><img src= "./../static/images/logo.svg" /><a href = "#" ><span>HarvestHop</span></a></div>
        <div class="nav-items">
            <div class="nav-item"><button class = "cta">Our services</button></div>
            <div class="nav-item"><button class = "cta">Contact Us</button></div>
            <div class="nav-item"><button class = "cta">About Us</button></div>
        </div>
    </nav>
    <section class = "hero-main">
        <div class="hero-img"><img src = "./../static/images/hero.jpg" /></div>
        <div class="hero-con">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aliquid sit repudiandae placeat molestias iure eum praesentium doloremque voluptatibus itaque perspiciatis reprehenderit est sequi, atque, blanditiis ducimus voluptate nemo voluptatum quos necessitatibus? Laboriosam, dicta! Nemo commodi voluptas doloribus voluptate deserunt?</div>
    </section>
    <section class = "services-main">
        <h1>Our services</h1>
        <div class="service">
            <div class = "service-img "><img src="./../static/images/cropyield.jpg" alt="cropyield"  /> </div>
            <a href = "#" ><div class="service-con">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, recusandae.
            </div></a>
        </div>
        <div class="service">
            <div class = "service-img "><img src="./../static/images/cropfertilizer.jpg" alt="cropyield"  /> </div>
            <a href = "#"><div class="service-con">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, recusandae.
            </div></a>
        </div>
        <div class="service">
            <div class = "service-img "><img src="./../static/images/croprecommen.jpg" alt="cropyield"  /> </div>
            <a href = "#" ><div class="service-con">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, recusandae.
            </div></a>
        </div>
    </section>
    <footer>
        <div class="footer-copy">&copy; HarvestHop 2024</div>
        <div class="footer-det">
            <div class="footer-det-con"><a>Terms&Conditions</a></div>
            <div class="footer-det-con"><a>Privacy Policy</a></div>
        </div>
    </footer>

</body>
</html>